RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

RewriteRule ^index\.html$ / [R=301,L]
RewriteRule ^(.*)/index\.html$ /$1/ [R=301,L]
ErrorDocument 404 /error-404.html

# Permanent URL redirect
RedirectMatch 301 /contacto/?$ http://reinaldoribeiroteam.com/academia-bjj-barcelona.html
RedirectMatch 301 /reinaldo-ribeiro-bjj-barcelona/?$ http://reinaldoribeiroteam.com/academia-bjj-barcelona.html
RedirectMatch 301 /academias/?$ http://reinaldoribeiroteam.com/academia-bjj-barcelona.html
RedirectMatch 301 /torneo-interno-rr-team-diciembre-2014/?$ http://reinaldoribeiroteam.com
RedirectMatch 301 /buenos-tiempos/?$ http://reinaldoribeiroteam.com